
@{
    ViewBag.Title = "ForgotPassword";
}

<html>
<head>

</head>


<body>
    <br />
    <br />
    <br />
    <br />
        <div class="row">
                <div class="col-md-5 col-md-offset-0">
                    <a class="btn btn-primary btn-lg btn-block" style="background-color:#010431;"> Reset Password</a>
                </div>
            </div>
            <br />
            <br />
            <form class="form-horizontal" style="background-color:lightgray">
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12 col-md-offset-1">

                        <div class="form-group">
                            <p>We can help you reset your password using your Iress email address linked to your account.</p>
                            <br />
                            <br />
                                <label for="Email Address" class="col-md-2 control-label">Email Address</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="Country">
                                    <br />
                                    <br />
                                    <button class="btn btn-default" type="button" id="ResetPassword" style="width:150px; height:34px;" onClick="alert(' The default password has been sent to your email address!');location.href='@Url.Action("Login","Home")'">Reset Password</button>
     
                                                        
                                    
                            </div>
                        </div>

                    </div>
        </div>
        </form>

</body>
</html>